
* {
  box-sizing: border-box;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

body {
  font-family: 'Raleway', sans-serif;
  @include mobile {
    width: 100%;
  }
}

.container {
  width: 1050px;
  margin: 0 auto;
}


.container-grid {
  $columnNum: 12;
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  @for $i from 1 through $columnNum {
    .col-#{$i} {
      width: (100%/$columnNum * $i );
    }
  }

  @include mobile {
    flex-direction: column;
    [class*="col-"]{
      width:100%;
    }
  }
}
