:root {
  --color: #24BA9F;
}

* {
  box-sizing: border-box;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.section-title{
  font-size: 22px;
  color: #575757;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15px;
}

.section-title:after {
  content: "";
  width: 315px;
  height: 8px;
  background: var(--color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn{
  color: #fff;
  background-color: var(--color);
  border: 0;
  padding: 20px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
}

/*********************************************************************/
/*page header*/

.page-header {
  height: 40px;
  background-color: #000;
  position: relative;
  z-index: 100;
}

.page-header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.page-logo span {
  color: var(--color);
}

.page-nav {

}

.page-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.page-nav-list-el{
  position: relative;
}

.page-nav-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px;
  display: block;
  line-height: 40px;
}

.page-nav-list-link:hover {
  color: var(--color);
}

.page-nav-sublist {
  list-style: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  background-color: black;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s opacity;
}

.page-nav-list-el:hover .page-nav-sublist {
  opacity: 1;
  visibility: visible;
}

/*aby trzymał kolor po zjechaniu na dół*/
.page-nav-list-el:hover .page-nav-list-link {
  color: var(--color);
}

.page-nav-sublist:before {
  content: "";
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: black;
  display: block;
  position: absolute;
  top: -20px;
  left: 50px;
  transform: translate(-50%, 0);
}
z
.page-nav-sublist:after {
  content: "";
  background: transparent;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  top: -20%;
}

/**********************************************************************/
/*main banner*/

.page-nav-sublist-link {
  text-decoration: none;
  color: white;
  line-height: 1.5em;
}

.page-nav-sublist-link:hover {
  color: var(--color);
}

.main-banner {
  background: linear-gradient(#fff, #cecece );
}

.banner {
  height: 500px;
  display: flex;
}

.banner-prev,
.banner-next{
  width: 60px;
  background: none;
  border: 0;
  font-size: 70px;
  color: var(--color);
}

.banner-prev:focus,
.banner-next:focus {
  outline: none;
}

.banner-next {
  order: 1;
}

.banner-slides {
  flex-grow: 1;
  position: relative;
}

.banner-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s all;
}

.banner-slide-active {
  opacity: 1;
  z-index: 1;

}
/***************************************************/
/*formularz*/
/***************************************************************************************************/
.form {
  display: flex;
  justify-content: space-between;
}

.form-left {
  width: 630px;
}

.form-right {
  width: 340px;
}

.form-row {
  margin-bottom: 28px;
}

.form-addition {
  height: 200px;
  background-image: url(../images/red_chair.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -27px;
}

.form-control {
  height: 63px;
  border: 1px solid var(--color);
  width: 100%;
  padding: 0 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 33px;
  font-weight: 300;
}

textarea.form-control {
  height: 190px;
  /*usuwa pokrętełko*/
  resize: none;
  padding: 15px;
}

.form-control::placeholder {
  color: #cecece;
}

.form-control:focus {
  outline: none;
  border-color: var(--color);
  /*wewnętrzny cień*/
  box-shadow:inset 0 0 0 1px var(--color);

}

.form-checkbox {
  display: flex;
  /*aby była łapka*/
  cursor: pointer;
  align-items: center;
  margin: 35px 0;
  color: #ccc;
  font-size: 18px;
}


/*nie da się stylować checkboxów*/
/*.form-checkbox-input {*/
/*!*width: 50px;*!*/
/*!*height: 50px;*!*/
/*background-color: red;*/
/*border: 4px solid blue;*/
/*}*/

.form-checkbox-input {
  position: absolute;
  left: -99999px;
}

.form-checkbox-mark {
  border: 1px solid var(--color);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: block;
  margin-right: 10px;
}

/*mark bezpośrednio za imput - w tym przypadku dodaliśµy cheked - więc bezpośrednio za zaznaczonym*/
.form-checkbox-input:checked + .form-checkbox-mark {
  background-image: url(../images/form_ok.jpg);
  background-position: center;
  background-repeat: no-repeat;

}


.form-submit-btn {
  width: 100%;
  font-size: 34px;
  font-weight: bolder;
  padding: 20px;
}

