.pricing {
  margin-top: 25px;
  margin-bottom: 50px;
  justify-content: space-between;
  background-color: map-get($colors, main);
  padding: 5% 0;

  .pricing-title {
    @include title;
    &:after {
      @include underline;
    }
  }
  [class*=col] {
    border: 2px solid map-get($colors, borderc);
    position: relative;
    top: 40px;
    text-align: center;
    margin-bottom: 50px;
  }

  .circle {
    border: 2px solid map-get($colors, borderc);
    background: map-get($colors, borderc);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin:0;
    box-shadow: 0 0 0 15px white inset;
  }
  h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 10%;
  }
  
  .pricing-left {
    margin-right: 2%;
    background-color: map-get($colors, lithBackgraud);
    h2 {
      color: map-get($colors, buttom);
    }
    .price-box {
      background-color: map-get($colors, backgraund);
    }
    .main-price-bay {
      background-color: map-get($colors, borderc);
    }
    .main-price-service {
      background-color: map-get($colors, main);
    }
    .main-price-btn {
      margin-top: 9rem;
      margin-bottom: 3rem;
    }
  }
  .pricing-center {
    background-color: map-get($colors, buttom);
    border: 2px solid map-get($colors, buttom);
    .price-box {
      background-color: map-get($colors, lithBackgraud);
    }
    .circle {
      border-color: map-get($colors, buttom);
      box-shadow: 0 0 0 15px map-get($colors, buttom) inset;
      background-color: map-get($colors, backgraund);
    }
    h2 {
      color: map-get($colors, backgraund);
    }
    .main-price-bay,
    .main-price-warranty {
      background-color: map-get($colors, backgraund);
    }
    .main-price-service {
      background-color: map-get($colors, main);
    }
    .main-price-btn {
      margin-top: 6rem;
      margin-bottom: 3rem;
      color: map-get($colors, buttom);
      background-color: map-get($colors, backgraund);
    }
  }
  .pricing-right {
    margin-left: 2%;
    background-color: map-get($colors, lithBackgraud);
    .price-box {
      background-color: map-get($colors, backgraund);
    }
    h2 {
      color: map-get($colors, buttom);
    }
    .main-price-bay,
    .main-price-warranty {
      background-color: map-get($colors, borderc);
    }
    .main-price-service,
    .main-price-advice {
      background-color: map-get($colors, main);
    }
    .main-price-btn {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  .price-box {
    height: 130px;
    width: 130px;
    margin: 0 auto 10% auto;
    border-radius: 50%;
    position: relative;
    border: 2px solid map-get($colors, borderc);
    font-size: 25px;


    .main-price {
      font-size: 45px;
      margin: 20% 0 0 9%;
      color: map-get($colors, borderc);
      display: inline-block;
      font-weight: 600;
    }
    .main-price-sup {
      color: map-get($colors, borderc);
      font-size: 16px;
      display: inline-block;
      position: relative;
      font-weight: 600;
      top: - 20%;
    }
    .main-price-valut {
      color: map-get($colors, borderc);
      font-size: 16px;
      padding: 0;
      margin: 0 auto;
    }

  }
}

.main-price-bay,
.main-price-service,
.main-price-warranty,
.main-price-advice {
  color: map-get($colors, lightText);
  font-size: 20px;
  width: 100%;
  line-height: 3rem;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}


.main-price-btn {
  width: 50%;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  background-color: map-get($colors, buttom);
  border: 0;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
  //position: relative;
  display: inline-block;
}



