.product {
  margin-top: 25px;
  margin-bottom: 50px;
  justify-content: space-between;
  border: 1px solid crimson;
  .product-left {
    background-image: url(../../images/box1_img.jpg);
    background-repeat: no-repeat;
  }
  .product-center {
    background-image: url(../../images/box2_img.jpg);
    background-repeat: no-repeat;
  }
  h2 {
    font-size: 252px;
    background-color: purple;
    width: 94%;
    line-height: 100%;
    align-content: center;
    display: inline-block;
    position: relative;
    margin-top: 25%;
    &:after {
      content: "";
      width: 315px;
      height: 8px;
      background: var(--color);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}




