.product {
  margin-top: 25px;
  margin-bottom: 50px;
  justify-content: space-between;
  .product-left {
    background-image: url(../images/box1_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 2%;

    @include mobile {
      width: 100%;
      margin: 0 auto;
    }
  }

  .product-center {
    background-image: url(../images/box2_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 1%;

    @include mobile {
      width: 100%;
      margin: 0 auto;
    }
  }
  
  .product-right {
    border: 2px solid map-get($colors, borderc);
    margin-left: 2%;
    p {
      padding-left: 5%;
      color: map-get($colors, text);
    }

    @include mobile {
      width: 100%;
      margin: 0 auto;
    }
  }


  h2 {
    font-size: 16px;
    background-color: map-get($colors, titleBgc);
    line-height: 3rem;
    padding-left: 5%;
    width: 100%;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      width: 150px;
      height: 8px;
      background: var(--color);
      position: absolute;
      left: 5%;
      bottom: 0;
    }
    
  }
  .product-title {
    margin-top: 45%;
  }
}




