
$colors: (
        buttom: #00C29F,
        backgraund: #FFFFFF,
        lithBackgraud: #f4f4f4,
        main: #ededed,
        titleBgc: rgba(255,255, 255, 0.4),
        borderc: #d7d7d7,
        text: #575757,
        lightText: #848484,

);


