@mixin tablet {
  @media all and (max-width: 990px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 720px) {
    @content;
  }
}

@mixin title {
  color: map-get($colors, text);
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 15px;
  @include mobile {
    margin-left: 5px;
  }
}

@mixin underline {
  content: "";
  width: 315px;
  height: 8px;
  background: map-get($colors, buttom);
  position: absolute;
  left: 0;
  bottom: 0;
}

@mixin hover {
  &:hover {
    color: map-get($colors, buttom);
    background-color: map-get($colors, backgraund);
    transition: 0.5s;
  }
}



